In [ ]:
import pandas as pd

In [ ]:
# get the final dataframe from admins_notebook.ipynb
%store -r df

In [ ]:
df.head(2)

We need a SQL query for the movies table which will include following attributes:
1. `adult` - a boolean value
2. `language` - short 5-6 length string
3. `title` - title of the movie(string)
4. `overview` - huge text
5. `popularity` - integer from 0 to 10 (inclusive) (with check)
6. `poster_path` - long string (web link to poster)
7. `vote_average` - integer from 0 to 10 (inclusive) (with check)
8. `vote_count` - large integer
9. `row_id` - integer(primary key), auto increment = 1
10. `release_year` - 4 digit release year

#### <font color=orange>FOLLOWING SQL QUERY CREATES A 'movies' TABLE FOR STORING THE ATTRIBUTES MENTIONED ABOVE.</font>

In [ ]:
-- SQL query to create movies table in the database
-- If you want, you can look for the SQL files available on the repository

CREATE DATABASE IF NOT EXISTS movie_database;
USE movie_database;

-- Do not check foreign key constraints (temporary check for foreign key references are disabled after execution of the following line)
SET FOREIGN_KEY_CHECKS = 0;

DROP TABLE IF EXISTS movies;


--
-- Table structure for table `movies`
--
CREATE TABLE movies (
    row_id BIGINT auto_increment PRIMARY KEY, 
	adult BOOLEAN, 
	language VARCHAR(4), 
	title TEXT, 
	overview TEXT, 
	popularity FLOAT(53, 1) CHECK (popularity >= 0.0 AND popularity <= 100.0), 
	poster_path TEXT, 
	vote_average FLOAT(53, 1) CHECK (vote_average >= 0.0 AND vote_average <= 10.0), 
	vote_count BIGINT, 
	release_year INTEGER
);


-- Specify to check foreign key constraints
SET FOREIGN_KEY_CHECKS = 1;

##### Populate the table with necessary values as mentioned above while mentioning all the attributes required by the `movies` table

In [ ]:
# Install necessary stuff
%pip install SQLAlchemy pymysql

##### define engine

In [ ]:
from sqlalchemy import create_engine
import pymysql

db_url = "mysql+pymysql://movie_database:movie_database@localhost/movie_database"
engine = create_engine(db_url, echo=True)

##### use engine to fill the required dataframe columns in the respective attributes of the entity set (movies)

In [ ]:
# Filtered dataframe
filtered_df = df.drop(['genres', 'keywords', 'cast', 'row_id'], axis=1) # Note that we need to remove the row_id column as it is a primary key set to be auto increment

# Insert data into the specified columns, appending to the existing table
filtered_df.to_sql('movies', con=engine, if_exists='append', index=False)

In [ ]:
df.head(1)

In [ ]:
%store -r keywords_column

#### <font color=orange>FOLLOWING SQL QUERY CREATES A TABLE FOR STORING THE KEYWORDS RELATED TO A MOVIE (MANY-TO-MANY RELATIONSHIP)</font>

In [ ]:
SET FOREIGN_KEY_CHECKS = 0;

DROP TABLE IF EXISTS keywords;

CREATE TABLE keywords (
    k_id BIGINT,
    kword VARCHAR(255),

    FOREIGN KEY (k_id) REFERENCES movies (row_id)
);

SET FOREIGN_KEY_CHECKS = 1;

#### populate the table `keywords` with the keywords from the `keywords_column`

In [ ]:
# Flatten the list of lists and create 'id' values
flattened_data = [(i+1, keyword) for i, sublist in enumerate(keywords_column) for keyword in sublist]

# Create a Pandas DataFrame
keywords_column_df = pd.DataFrame(flattened_data, columns=["k_id", "kword"])

##### Export CSV (Optional)

In [ ]:
keywords_column_df.to_csv('kc.csv', index=False)

In [ ]:
# Insert data into the available columns from the dataframe, appending to the existing table (keywords)
keywords_column_df.to_sql('keywords', con=engine, if_exists='append', index=False)

In [ ]:
df.head(1)

### <font color=orange>FOLLOWING SQL QUERY CREATES A TABLE FOR STORING THE CASTS OF A MOVIE</font>

In [ ]:
SET FOREIGN_KEY_CHECKS = 0;

DROP TABLE IF EXISTS casts;

CREATE TABLE casts (
    `c_id` BIGINT,
    `department_id` INT,
    `name` VARCHAR(255),
    `character` TEXT,

    FOREIGN KEY (c_id) REFERENCES movies(row_id),
    FOREIGN KEY (`department_id`) REFERENCES departments(`department_id`)
);

SET FOREIGN_KEY_CHECKS = 1;

### <font color=orange>FOLLOWING SQL QUERY CREATES A TABLE FOR UNIQUE DEPARTMENT NAMES</font>

In [ ]:
SET FOREIGN_KEY_CHECKS = 0;

DROP TABLE IF EXISTS departments;

CREATE TABLE departments (
    `department_id` INT AUTO_INCREMENT,
    `name` VARCHAR(255) UNIQUE,
    PRIMARY KEY (department_id)
);


SET FOREIGN_KEY_CHECKS = 1;

#### Convert the cast list (list of dict) to pandas dataframe

In [ ]:
%store -r list_movies_casts_info

In [ ]:
# Create a DataFrame
# Create a DataFrame
casts_list = []
for row in list_movies_casts_info:
    for entry in row:
        c_id = entry['row_id']
        known_for_department = entry['known_for_department']
        name = entry['name']
        character = entry['character']
        casts_list.append([c_id, known_for_department, name, character])

casts_df = pd.DataFrame(casts_list, columns=['c_id', 'known_for_department', 'name', 'character'])

#### Extract out the unique departments

In [ ]:
duplicate_departments = casts_df['known_for_department']

unique_departments_list = duplicate_departments.unique().tolist()

# Make a dataframe for this with index starting from 1
unique_departments_df = pd.DataFrame({'name': unique_departments_list})
unique_departments_df['department_id'] = range(1, len(unique_departments_df) + 1)

In [ ]:
unique_departments_df.head(2)

#### Append the unique_departments_df to the departments table

In [ ]:
unique_departments_df.to_sql(name='departments', con=engine, if_exists='append', index=False)

In [ ]:
casts_df.head(2)

#### Instead of putting every department name in the `known_for_department` column in the `casts_df` dataframe, make individual tuple values refer to the `department_id` in the department dataframe/table and rename the column to `department_id`

In [ ]:
# Create a mapping dictionary from department to index
department_to_index = {dept: idx + 1 for idx, dept in enumerate(unique_departments_list)}

# Replace values in the DataFrame
casts_df['known_for_department'] = casts_df['known_for_department'].map(department_to_index)

casts_df = casts_df.rename(columns={'known_for_department': 'department_id'})

##### Append `casts_df` dataframe to the cast table

In [ ]:
casts_df.to_sql(name='casts', con=engine, if_exists='append', index=False)

### <font color=orange>FOLLOWING SQL QUERY CREATES A TABLE FOR STORING THE UNIQUE GENRES</font>

In [ ]:
SET FOREIGN_KEY_CHECKS = 0;

DROP TABLE IF EXISTS genres;

CREATE TABLE genres (
    `genre_id` INT PRIMARY KEY AUTO_INCREMENT,
    `genre` VARCHAR(255) UNIQUE
);

SET FOREIGN_KEY_CHECKS = 1;

### <font color=orange>FOLLOWING SQL QUERY CREATES A LINKING TABLE FOR MOVIES AND THEIR RESPECTIVE MOVIE GENRES</font>

In [ ]:
SET FOREIGN_KEY_CHECKS = 0;

DROP TABLE IF EXISTS `movie_genres`;

CREATE TABLE movie_genres (
    `movie_id` BIGINT,
    `genre_id` INT,
    PRIMARY KEY (`movie_id`, `genre_id`),
    FOREIGN KEY (`movie_id`) REFERENCES movies(`row_id`),
    FOREIGN KEY (`genre_id`) REFERENCES genres(`genre_id`)
);

SET FOREIGN_KEY_CHECKS = 1;

In [ ]:
%store -r genre_df

In [ ]:
genre_df.head(5)

##### Generate dataframe of unique genres with IDs starting from 1

In [ ]:
unique_genres = genre_df['genre'].unique().tolist()

genre_table_df = pd.DataFrame(unique_genres, columns=['genre'])
genre_table_df.index = genre_table_df.index + 1

genre_table_df

# NOTE: A value of '' indicates a movie of no genre / genre not avaialable

##### Append this dataframe to the genres table

In [ ]:
genre_table_df.to_sql('genres', con=engine, if_exists='append', index=False)

#### Now create the linking using the original genre_df dataframe

In [ ]:
genre_df

In [ ]:
linking_table_list = []

In [ ]:
g_id_list = genre_df['g_id'].tolist()
dup_genre_list = genre_df['genre'].tolist()

for i in range(len(g_id_list)):
    linking_table_list.append(
        {
            'movie_id': g_id_list[i],
            'genre_id': unique_genres.index( dup_genre_list[i] ) + 1
        }
    )

In [ ]:
linking_table_list

In [ ]:
linking_table_df = pd.DataFrame(linking_table_list)

In [ ]:
linking_table_df

##### Append this dataframe to the linking table

In [ ]:
linking_table_df.to_sql(name='movie_genres', con=engine, if_exists='append', index=False)